# KiCad Production Tools and Extensions
matplotlib==3.9.2
pillow==11.3.0
reportlab==4.2.5

# KiCad and PCB Tools
kikit==1.7.2
pcbdraw==1.0.1

# Interactive HTML BOM generator
InteractiveHtmlBom==2.10.0

# Documentation tools for Sphinx and ReadTheDocs
sphinx==8.2.3
myst-parser==4.0.1
sphinx-rtd-theme==3.0.2
sphinx-autobuild==2024.10.3
sphinxcontrib-napoleon==0.7
